#base-currency{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#target-currency{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#amountId{
    width: 20%;
    margin-left: 12.4%;
}

#label1{
    margin-left: 25%;
    margin-bottom: 2%;
    font-family: sans-serif;
}

#label2{
    margin-left: 25%;
    margin-bottom: 2%;
    font-family: sans-serif;
}

#bIcon{
    color: white;
    font-size: 2rem;
    padding-right: 1%;
}

.spanSize span{
    font-size: xx-large;
}

h1{
    font-family: sans-serif;
}

h5{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.myFooter{
    margin-top: auto;
}

